/** thanks https://codepen.io/nzbin/pen/GGrXbp */

.dot-carousel {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffd700;
  color: #ffd700;
  box-shadow: 9984px 0 0 0 #ffd700, 9999px 0 0 0 #ffd700, 10014px 0 0 0 #ffd700;
  animation: dot-carousel 1.5s infinite linear;
}

@keyframes dot-carousel {
  0% {
    box-shadow: 9984px 0 0 -1px #ffd700, 9999px 0 0 1px #ffd700,
      10014px 0 0 -1px #ffd700;
  }
  50% {
    box-shadow: 10014px 0 0 -1px #ffd700, 9984px 0 0 -1px #ffd700,
      9999px 0 0 1px #ffd700;
  }
  100% {
    box-shadow: 9999px 0 0 1px #ffd700, 10014px 0 0 -1px #ffd700,
      9984px 0 0 -1px #ffd700;
  }
}
